<h2>EQLab API Server: Log In</h2>

<form id="login" name="login" method="post" action="/auth/login">

  <label for="username">User Name</label>
    <input class="text" name="username" type="text" />

  <label for="password">Password</label>
    <input name="password" type="password" />

  <input class="btn" type="submit" value="Log In" />
</form>
<br>
<a href="/auth/register">Need an Account? Register Here</a>