<h2>EQLab API Server: Register</h2>

<form id="register" name="register" method="post" action="/auth/register">

  <label for="username">User Name</label>
    <input class="text" name="username" type="text" />

  <label for="password">Password</label>
    <input name="password" type="password" />

  <label for="email">Email Address</label>
    <input class="text" name="email" type="email" />
  
  <input class="btn" type="submit" value="Register" />
</form>